{% if page.meta.comments %}
{% if page.meta.discuss %}
<h2 id="discuss">Join the discussion!</h2>
{% if page.meta.discuss.subreddit %}
<a href={{ page.meta.discuss.subreddit }} class="md-button" target="_blank" rel="noopener noreferrer"><span class="twemoji">{% include ".icons/fontawesome/brands/square-reddit.svg" %}</span> Reddit (official sub)</a>
{% endif %}
{% if page.meta.discuss.reddit %}
<a href={{ page.meta.discuss.reddit.link }} class="md-button" target="_blank" rel="noopener noreferrer"><span class="twemoji">{% include ".icons/fontawesome/brands/reddit.svg" %}</span> Reddit ({{page.meta.discuss.reddit.sub}})</a>
{% endif %}
{% if page.meta.discuss.lemmy %}
<a href={{ page.meta.discuss.lemmy }} class="md-button" target="_blank" rel="noopener noreferrer"><span class="twemoji">{% include ".icons/simple/lemmy.svg" %}</span> Lemmy</a>
{% endif %}
{% if page.meta.discuss.mastodon %}
<a href={{ page.meta.discuss.mastodon }} class="md-button" target="_blank" rel="noopener noreferrer"><span class="twemoji">{% include ".icons/fontawesome/brands/mastodon.svg" %}</span> Mastodon</a>
{% endif %}
{% if page.meta.discuss.hackernews %}
<a href={{ page.meta.discuss.hackernews }} class="md-button" target="_blank" rel="noopener noreferrer"><span class="twemoji">{% include ".icons/fontawesome/brands/hacker-news.svg" %}</span> Hacker News</a>
{% endif %}
{% if page.meta.discuss.lobsters %}
<a href={{ page.meta.discuss.lobsters }} class="md-button" target="_blank" rel="noopener noreferrer"><span class="twemoji">{% include ".icons/simple/lobsters.svg" %}</span> Lobsters</a>
{% endif %}
{% endif %}
<h2 id="__comments">{{ lang.t("meta.comments") }}</h2>
<!-- Insert generated snippet here -->

<script src="https://giscus.app/client.js" data-repo="blend-os/blog-comments" data-repo-id="R_kgDOMGO_sA"
    data-category="Giscus" data-category-id="DIC_kwDOMGO_sM4Cf7sB" data-mapping="og:title" data-strict="1"
    data-reactions-enabled="1" data-emit-metadata="0" data-input-position="top" data-theme="light" data-lang="en"
    crossorigin="anonymous" async>
</script>

<!-- Synchronize Giscus theme with palette -->
<script>
    var giscus = document.querySelector("script[src*=giscus]")

    // Set palette on initial load
    var palette = __md_get("__palette")
    if (palette && typeof palette.color === "object") {
        var theme = palette.color.scheme === "slate"
            ? "transparent_dark"
            : "light"

        // Instruct Giscus to set theme
        giscus.setAttribute("data-theme", theme)
    }

    // Register event handlers after documented loaded
    document.addEventListener("DOMContentLoaded", function () {
        var ref = document.querySelector("[data-md-component=palette]")
        ref.addEventListener("change", function () {
            var palette = __md_get("__palette")
            if (palette && typeof palette.color === "object") {
                var theme = palette.color.scheme === "slate"
                    ? "transparent_dark"
                    : "light"

                // Instruct Giscus to change theme
                var frame = document.querySelector(".giscus-frame")
                frame.contentWindow.postMessage(
                    { giscus: { setConfig: { theme } } },
                    "https://giscus.app"
                )
            }
        })
    })
</script>
{% endif %}
