/* code font */

@font-face {
    font-family: "FiraCodeNerd";
    src: url("../fonts/FiraMonoNerdFontMono-Regular.otf");
}

/* text font */

/* archivo-100 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/archivo-v19-latin-100.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* archivo-100italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Archivo';
    font-style: italic;
    font-weight: 100;
    src: url('../fonts/archivo-v19-latin-100italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* archivo-200 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/archivo-v19-latin-200.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* archivo-200italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Archivo';
    font-style: italic;
    font-weight: 200;
    src: url('../fonts/archivo-v19-latin-200italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* archivo-300 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/archivo-v19-latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* archivo-300italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Archivo';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/archivo-v19-latin-300italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* archivo-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/archivo-v19-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* archivo-italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Archivo';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/archivo-v19-latin-italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* archivo-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/archivo-v19-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* archivo-500italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Archivo';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/archivo-v19-latin-500italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* archivo-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/archivo-v19-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* archivo-600italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Archivo';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/archivo-v19-latin-600italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* archivo-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/archivo-v19-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* archivo-700italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Archivo';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/archivo-v19-latin-700italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* archivo-800 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/archivo-v19-latin-800.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* archivo-800italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Archivo';
    font-style: italic;
    font-weight: 800;
    src: url('../fonts/archivo-v19-latin-800italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* archivo-900 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/archivo-v19-latin-900.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* archivo-900italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Archivo';
    font-style: italic;
    font-weight: 900;
    src: url('../fonts/archivo-v19-latin-900italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* colors */

:root>* {
    /*
	https://github.com/squidfunk/mkdocs-material/blob/master/src/assets/stylesheets/main/_colors.scss
	*/
    --md-primary-fg-color: #21af90;
    --md-primary-fg-color--light: #32d8b4;
    --md-primary-fg-color--dark: #21af90;
    --md-accent-fg-color: #25c2a0;
    --md-typeset-mark-color: #2e8555;
    --md-code-font: "FiraCodeNerd";
    --md-text-font: "Archivo";
    /* --md-accent-fg-color: #EB459E; */
}

/* Credit to https://ctt.cx and https://facelessuser.github.io/pymdown-extensions/ */

/* neon header */

[data-md-color-scheme="slate"] .md-header {
    background-color: #1e2029;
    border-bottom: 0.10rem solid var(--md-accent-fg-color);
}

/* colored background for nav options */

[data-md-color-scheme="slate"] .md-tabs {
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    background-color: #263f3f;
}

/* center nav */

.md-tabs__list:first-child {
    /* margin-left: 350px;*/
    margin-left: 25%;
}

/* light mode */

[data-md-color-scheme="default"] .md-header {
    background-color: white;
    border-bottom: 0.10rem solid var(--md-accent-fg-color);
    color: black;
}

[data-md-color-scheme="default"] .md-tabs {
    color: black;
    background-color: white;
}

/* move level 2 items further out */

.md-nav[data-md-level="2"]>.md-nav__list {
    margin-left: 1.45em;
    padding-left: 0.75em;
    position: relative;
}

/* colored bar before level 2 items */

.md-nav[data-md-level="2"]>.md-nav__list::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 1px;
    background: linear-gradient(to bottom, #21af90 0%, #21af90 50%, #21af90 100%);
}

@media (max-width: 1220px) {
    .md-nav[data-md-level="2"]>.md-nav__list::before {
        opacity: 0%;
    }

    .md-nav[data-md-level="2"]>.md-nav__list {
        margin-left: 0;
        padding-left: 0;
    }
}

/* colored headers */

.md-typeset h1 {
    color: var(--md-typeset-a-color);
    font-weight: 700;
}



/*
.md-typeset .admonition,
.md-typeset details {
    border-width: 0;
    border-left-width: 4px;
}
*/

/* sticky admonition class */

.md-typeset .follow > summary {
    position: sticky;
    top: 48px;
    z-index: 1;
    backdrop-filter: blur(10px);
}

.noJs {
    display: none;
}

.md-typeset .admonition.image,
.md-typeset details.image {
    border-color: rgb(var(--main-color));
}

.md-typeset .image>.admonition-title,
.md-typeset .image>summary {
    background-color: rgba(var(--main-color), 0.1);
}

.md-typeset .image>.admonition-title::before,
.md-typeset .image>summary::before {
    background-color: rgb(var(--main-color));
    -webkit-mask-image: var(--md-admonition-icon--image);
    mask-image: var(--md-admonition-icon--image);
}



/* top bar on footer */

.md-footer {
  border-top: 0.10rem solid var(--md-accent-fg-color);
}

/* shrink footer */

.md-footer__link {
    margin-bottom: 0 !important;
    margin-top: 0.2rem !important;
}

.md-social,
.md-copyright {
    padding: 0 !important
}

/* credit end */

/* .md-copyright {
    display: none !important;
} */

/* --8<-- [start:classes] */
/* .icon classes are computed using https://svg-colorizer.pages.dev
.icon-x-misc classes are for multi-color images and icons. 
.icon-x classes are for monochrome images and icons */

.icon-white {
    filter: invert(100%) sepia(2%) saturate(0%) hue-rotate(148deg) brightness(102%) contrast(106%);
}

.icon-blend-misc {
    filter: brightness(0) saturate(100%) invert(63%) sepia(95%) saturate(356%) hue-rotate(115deg) brightness(85%) contrast(88%);;
}

.icon-link-misc {
    filter: invert(60%) sepia(73%) saturate(415%) hue-rotate(117deg) brightness(91%) contrast(94%);
}

.icon-link {
    filter: brightness(0) saturate(100%) invert(60%) sepia(73%) saturate(415%) hue-rotate(117deg) brightness(91%) contrast(94%);
}

.info {
    color: #00B8D4;
}

.tip {
    color: #00BFA5;
}

.green {
    color: #00C853;
}

.blend {
    color: #21af90;
}

.orange {
    color: #FFA724;
}

.red {
    color: #ff0000;
}

.mt-1 {
    margin-top: 0.1em;
}

.mega {
    color: #D9272E;
}

.yellow {
    color: #FFD600;
}

.pink {
    color: #FF00DE;
}
.purple {
    color: #ad05ad;
}

.red {
    color: #FF1744;
}

.text-lg {
    font-size: large;
}

.ccc {
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    border: 1px solid white;
    border-radius: 100px;
    
}

.windows {
    color: #0078d6;
}

.warning {
    color: #ff9100;

}

.wide-table {
    width: 100%;
}

/* --8<-- [end:classes] */
/* code admonition */

:root {
    --md-admonition-icon--code: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 16 16"><path fill="currentColor" d="m11.28 3.22l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.749.749 0 0 1-1.275-.326a.749.749 0 0 1 .215-.734L13.94 8l-3.72-3.72a.749.749 0 0 1 .326-1.275a.749.749 0 0 1 .734.215m-6.56 0a.751.751 0 0 1 1.042.018a.751.751 0 0 1 .018 1.042L2.06 8l3.72 3.72a.749.749 0 0 1-.326 1.275a.749.749 0 0 1-.734-.215L.47 8.53a.75.75 0 0 1 0-1.06Z" /></svg>')
}

.md-typeset .admonition.code,
.md-typeset details.code {
    border-color: #2b9b31;
}


.md-typeset .code>.admonition-title,
.md-typeset .code>summary {
    background-color: #2b9b501a;
}

.md-typeset .code>summary {
    position: sticky;
    top: 48px;
    z-index: 1;
    backdrop-filter: blur(10px);
}

.md-typeset .code>.admonition-title::before,
.md-typeset .code>summary::before {
    background-color: #11801b;
    -webkit-mask-image: var(--md-admonition-icon--code);
    mask-image: var(--md-admonition-icon--code);
}

/* collapse admonition */

:root {
    --md-admonition-icon--collapse: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M4 12h16v2H4zm0-3h16v2H4zm12-5l-4 4l-4-4h3V1h2v3zM8 19l4-4l4 4h-3v3h-2v-3z" /></svg>')
}

.md-typeset .admonition.collapse,
.md-typeset details.collapse {
    border-color: #2a54dd;
}

.md-typeset .collapse>.admonition-title,
.md-typeset .collapse>summary {
    background-color: #2a54dd1a;
}


.md-typeset .collapse>summary {
    position: sticky;
    top: 48px;
    z-index: 1;
    backdrop-filter: blur(10px);
}

.md-typeset .collapse>.admonition-title::before,
.md-typeset .collapse>summary::before {
    background-color: #2a54dd;
    -webkit-mask-image: var(--md-admonition-icon--collapse);
    mask-image: var(--md-admonition-icon--collapse);
}

/* video admonition */

:root {
    --md-admonition-icon--video: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M17 10.5V7a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-3.5l4 4v-11z" /></svg>')
}

.md-typeset .admonition.video,
.md-typeset details.video {
    border-color: #5d06a3;
}

.md-typeset .video>.admonition-title,
.md-typeset .video>summary {
    background-color: #3e046e1a;
}

.md-typeset .video>.admonition-title::before,
.md-typeset .video>summary::before {
    background-color: #5d06a3;
    -webkit-mask-image: var(--md-admonition-icon--video);
    mask-image: var(--md-admonition-icon--video);
}

/* result section from material for mkdocs docs */

.md-typeset .highlight+.result {
    border: .05rem solid var(--md-code-bg-color);
    border-bottom-left-radius: .1rem;
    border-bottom-right-radius: .1rem;
    border-top-width: .1rem;
    margin-top: -1.125em;
    overflow: visible;
    padding: 0 1em
}

.md-typeset .highlight+.result:after {
    clear: both;
    content: "";
    display: block
}
